*{
    margin: 0px;
    padding: 0px;
}

.penguin-ecommerce{
    font-family: 'Roboto', sans-serif;
    
}
.penguin-header{
    background-color:#FFFBF0 ;
}
.penguin-logo{
    width: 290px;
    height: 40px;
 
}
.nav-ancor{
    font-weight: 700;
    font-size: 16px;
    
}

.yellow-text, .blue-text{
    font-family: 'Bebas Neue', cursive;
    
}
.yellow-text{
    color:#FABE4C ;
}
.blue-text{
    color: #363958;
}
.header-text{
    font-size: 80px;
}
.header-image img{
    width: 100%;
}
.product-card-image{
    /* height: 273px; */
    width: 60%;
}
.product-column:hover .product-card-image{
    width: 80%;
    transition: 1s;
}
.product-image{
    padding: 20px 0px;
    background-color: #F1F1F1;
    border-radius: 30px;
    height: 25em;
}
@media only screen and (max-width: 700px) {.woman-jacket, .man-jacket, .latest-products{
    text-align: center;
}
}
.product-title{
    font-size: 24px;
    color: #363958;
}
.product-price{
    font-size: 36px;
    color: #FABE4C;
}
.penguin-product{
    border: 0px;
}
.product-footer{
    border: 0px;
    background-color: white;
}
.product-column{
    border-radius: 20px;
    box-shadow: 2px 5px 10px #aaa9a9;
    padding: 10px;
    width: 22em;
}
.buy-now{
    background-image: linear-gradient(#A4BC46, #85A019);
    border: 0px;
    border-radius: 10px;
}
.buy-now:hover{
    background-image: linear-gradient( #85A019,#A4BC46);
}

/* CSS FOR stacks */
.stacks-area{
    margin: 10em 0em;
}
.stacks-img{
    width: 79px;
    height: 82px;
}
.stacks-box{
    background: #FFFFFF;
    box-shadow: 2px 10px 20px #aaa9a9;
    border-radius: 20px;
    margin: .5em 0em;
}
 
.stacks-h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;  
    color: #363958;
 
}
.stacks-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3E3E3E;
}
.stacks-right-side-img{
    width: 100%;
}
.card-header-background{
    background-color: white;
}

/* CSS FOR PRODUCT SLIDER */
.desktop-col{
    margin-top: 0px 10px;
    box-shadow: 2px 5px 10px #aaa9a9;
    border-radius: 10px;
}
.mobile-slider-carausel{
    box-shadow: 2px 5px 10px #aaa9a9;
    border-radius: 10px;
}
@media (max-width: 700px) { .image-slider{
    display: none;
}
}
@media (min-width: 700px) { .mobile-slider{
    display: none;
}
}
/* CSS FOR PRODUCT SLIDER END */